body{
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif !important;
  background-image: url("./images/game1.png");
  background-size: cover;
}

.game-grid{
  padding-top: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: rgba(255,255,255,.8);
  border: 4px solid #eee;
  display: inline-block;
  color: rgba(0, 0, 0, 0.870588);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  z-index: 1;
  .col-half-offset{
    margin-left: 4.166666667%;
  }
  .card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
  }
}

.game-grid .card:hover, .summaryContainer .card:hover{
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  cursor: pointer;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20% !important;
    float: left !important;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20% !important;
        float: left !important;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20% !important;
        float: left !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20% !important;
        float: left !important;
    }
}

.card-cont .card-tooltip{
  visibility: hidden;
  margin-top: -20px;
  text-align: left;
}

.card-cont:hover .card-tooltip{
  visibility: visible;
}

// DICE VIEW COMPONENT
.diceContainer {
  text-align: center;
  border: 1px solid black;
  width: 80%;
  padding: 10px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}


// CAROUSEL CONTAINER

.carousel-container {
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  height: 20vh;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
}

// SUMMARY COMPONENT
.summaryContainer {
  width: 30%;
  padding: 10px;
  margin: auto;
  float: left;
  box-sizing: border-box;
  .card{
    padding: 0;
    margin: 0;
  }
  img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
  }
  h3{
    margin:10px;
    font-size: 15px;
  }
  span{
    padding:0 20px;
  }
  .unlockableSelf{
    width: 100%;
    display: inline-block;
    padding-top:20px;
  }
}


.unlockCards {
  display: inline-block;
  border-color: black;
  box-sizing: border-box;
  height: 140px;
  width: 20%;
  background-size: cover;
  padding-bottom: 20px;
  .card-cont:hover .card-tooltip{
    visibility: visible;
  }
}

.locked{
  filter: grayscale(100%);
}



#self-dashboard {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgba(255,255,255,.8);
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  z-index: 1;

}

//OPPONENT COMPONENT
#opponent {
  display: inline-block;
  background-color: rgba(255,255,255,.8);
}

#avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  img{
    width: 100%;
  }
}

.card-opp {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.opp-name{
  font-size: 18px;
}

.opp-money{
  font-weight: 600;
}


#opp-summary, #opp-extension {
  padding: 10px;
  float: left;
}

#opp-summary{
  text-align: center;
  color: rgba(0, 0, 0, 0.870588);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  z-index: 1;
}

.row-top #opp-summary, #opp-extension {
  height: 100px;
  width: 500px;
}

.row-top #avatar{
  float: left;
}

.row-top .opp-details{
  float: left;
  margin-left: 40px;
  margin-right: 40px;
}

.row-top #unlockables{
  float: left;
}

#opp-extension {
  display: none;
}

.opp-cards {
  float: left
}

.global-board{
  width:100%;
  height: 100vh;
  overflow: hidden;
}

.row-top{
  margin: 0 !important;
  height: 12vh;
  overflow: hidden;
}
.game-page-central{
  margin: 0 !important;
  height: 68vh;
  overflow: hidden;
}
.game-part-opponent{
  margin: 0 !important;
  height: 20vh;
  overflow: hidden;
}

.game-page-central #opponent{
  margin-top: 10vh;
  margin-right: 20px;
  margin-left: 20px;
}


//CARDGRID MODALS
.modal-container {
    position: relative;

}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
.modal-backdrop {
  background-color:rgba(0, 0, 0, 1) !important;
}

//DICE MODAL

#dice-modal {
  z-index: 500;
  position: fixed;
  top: 200px;
}

.carousel-img, .slick-slide img{
  height: 100%;
}

// LOBBY CONTAINER
.lobby-container{
  width:100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('./images/intro.png');
  background-size: cover;
  background-repeat: no-repeat;

  a:hover {
    text-decoration: none;
  }
  h1{
    text-align: center;
    color: white;
    margin: 10vh;
    text-shadow:
      0px 3px 0px #b2a98f,
      0px 12px 10px rgba(0, 0, 0, 0.15),
      0px 4px 2px rgba(0, 0, 0, 0.1),
      0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  h2{
    text-align: center;
  }
    .start-buttons{
      width: 30%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
      border-radius: 2px;
      padding: 30px;
      vertical-align: middle;

    button{
      width: 100%;
    }
  }
}

.btn-login{
  background-color: #85CFC2;
}

.btn-guest-login{
  background-color: #5b7dde !important; 
}

.login-area{
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  padding: 30px;
  vertical-align: middle;

  .btn{
    margin-top: 10px;
  }
}

.form-horizontal .form-group{
  margin: 0 !important;
}

.btn-link{
    color: #85CFC2;
    background-color: transparent;
    border: none;
}


.button-toolbar{
  width: 100%;
  margin: auto;

  .provider-login-btn {
    width: 35%;
    margin: 0 auto 10px;
    justify-content: center;
  }
}

.login-form{
  padding: 30px;
}

.form-container {
    padding: 20px;
    margin: 0 auto;

  .button-toolbar{
    width: 100%;
    margin: 0 auto;

    .provider-login-btn {
      width: 35%;
    }
  }
}

.highlight{
  background-color: #E8BE86 !important;
}

#end-turn-btn {
  margin-left: 8%;
}

.input-group{
  display: table;

  input:first-child, .input-group-button:first-child .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  input, .input-group-button {
    display: table-cell;
  }
  input{
    position: relative;
    width: 100%;
  }
}

.game-link{
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  margin: 10px 0;
  font-size: 17px;
}

.game-players{
  font-size: 16px;
  padding-top: 15px;
  padding-left: 0px;
  li{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
  }

}

//INSTRUCTIONS BUTTON
#instructions {
  position: absolute;
  top: 30px;
  right: 90px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
}

.modal-on-card .modal-card-img, .unlockcard-modal-card img{
  width: 100%;
  padding-bottom: 15px;
}

.modal-on-card .modal-card-btn, .unlockcard-modal-card btn{
  width: 100%;
}

.modal-on-card .modal-card-div, .unlockcard-modal-card div{
  text-align: center;
}

.modal-on-card .modal-body, .unlockcard-modal-card .modal-body{
  padding: 0 !important;
}

.modal-on-card .modal-header, .unlockcard-modal-card .modal-header{
  border-bottom: none !important;
}

.modal-on-card .modal-card-desc, .unlockcard-modal-card .modal-card-desc{
  padding: 10px 10px 0 10px;
}

.carousel-container p{
  text-align: center;
  font-weight: bold;
  background-color: #ccc;
}

#visible-carousel{
  width: 100px;
  height: 100px;
  display: inline-block;
  div{
    display: inline-block;
    margin-right: 15px;
    img{
      width: 100%;
    }
  }
}
