body{
  background-color: #eee !important;
}

.game-grid{
  margin-top: 10px;
  background: #eee;
  border: 4px solid #eee;
  display: inline-block;
  .col-half-offset{
    margin-left: 4.166666667%;
  }
  .card {
      width: 100%;
  }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20% !important;
    float: left !important;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20% !important;
        float: left !important;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20% !important;
        float: left !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20% !important;
        float: left !important;
    }
}

.card-cont .card-tooltip{
  visibility: hidden;
  margin-top: -20px;
  text-align: left;
}

.card-cont:hover .card-tooltip{
  visibility: visible;
}


// CAROUSEL CONTAINER

.carousel-container {
  margin: 0 auto;
  padding: 30px;
  width: 60%;
  height: 30vh;
  background-color: #eee;
  float: left;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  vertical-align: middle;
}

.center .slick-center h1 {
  color: white;
  opacity: 1;
  transform: scale(1.08);
}
.center h1{
  color: black;
  opacity: 0.8;
  transition: all 300ms ease;
}

.center .slick-prev:before, .center .slick-next:before {
  color: #2962FF;
}

div .content-container .slick-slide .slick-active .slick-center {
  background-color: white;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.slide-content {
  margin-top: 10px;
  display: block;
  text-align: center;
  background-image: url("./images/coney-island.png");
  width: 90%;
  height: 20vh;
  background-size: cover;

}


// SUMMARY COMPONENT
.summaryContainer {
  width: 40%;
  padding: 20px;
  margin: auto;
  float: right;
  background-color: #eee;
  float: left;
  border-top: 1px solid grey;
  img{
    width: 50px;
    height: 50px;
    float: left;
  }
}


.unlockCards {
  display: inline-block;
  border-color: black;
  height: 140px;
  width: 20%;
  background-size: cover;
  margin: 10px 10px;
  padding-bottom: 20px;

  .card-cont:hover .card-tooltip{
    visibility: visible;
  }
}

#coney-island {
  background-image: url("./images/coney-island.png");
  filter: grayscale(100%);
}

#subway {
  background-image: url("./images/subway.png");
  filter: grayscale(100%);
}

#radio-tower {
  background-image: url("./images/radio-tower.png");
  filter: grayscale(100%);
}

#subway {
  background-image: url("./images/subway.png");
  filter: grayscale(100%);
}

#wine-shop {
  background-image: url("./images/wine-shop.png");
}


#self-dashboard {

}

//OPPONENT COMPONENT
#opponent {
  display: inline-block;
  background: white;
}

#avatar {
  background-image: url("./piggy.png");
  width: 80px;
  height: 80px;
  border-radius: 25px;
  background-size: cover;
  margin: 0 auto;
}

#unlockables img, #opp-extension img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

#opp-summary, #opp-extension {
  border: 1px solid grey;
  padding: 10px;
  float: left;
}

.row-top #opp-summary, #opp-extension {
  height: 100px;
  width: 500px;
}

.row-top #avatar{
  float: left;
}

.row-top .opp-details{
  float: left;
  margin-left: 40px;
  margin-right: 40px;
}

.row-top #unlockables{
  float: left;
}

#opp-extension {
  display: none;
}

.opp-cards {
  float: left
}

#global-board{
  width:100%;
  height: 100%;
  overflow: hidden;
}

.game-page-central #opponent{
  margin-right: 20px;
  margin-left: 20px;
  height: 400px;
}

//CARDGRID MODALS
.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
.modal-container {
  height: 200;
}
.modal-backdrop {
  background-color:rgba(0, 0, 0, 0.2) !important;
}

