.game-grid{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 40px;
  background: #969595;
  display: inline-block;
  .col-half-offset{
    margin-left: 4.166666667%;
  }
  .card {
      width: 100%;
  }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.card-cont .card-tooltip{
  visibility: hidden;
  margin-top: -20px;
  text-align: left;
}

.card-cont:hover .card-tooltip{
  visibility: visible;
}


// CAROUSEL CONTAINER

.carousel-container {
  margin: 0 auto;
  padding: 30px;
  width: 70%;
  /*height: 200px; */
  background-color: white;
  float: left;
  border: 3px solid black;
}

.center .slick-center h1 {
  color: white;
  opacity: 1;
  transform: scale(1.08);
}
.center h1{
  color: black;
  opacity: 0.8;
  transition: all 300ms ease;
}

.center .slick-prev:before, .center .slick-next:before {
  color: #2962FF;
}

div .content-container .slick-slide .slick-active .slick-center {
  background-color: white;
  /*margin-left: -50px;
  margin-right: -50px;*/
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  /*height: 90%;*/
  /*width: 150px;
  height: 150px;*/
}
/*.slide-track {
  background-color: white;
  padding: 5px;
  /*margin: auto;*/


.slide-content {
  /*background-color: #90CAF9;*/
  /*padding: 20px;*/
  margin-left: 5px;
  margin-right: 5px;
  /*margin-left: -50px;
  margin-right: -50px;*/
  display: block;
  text-align: center;
  background-image: url("./images/coneyIsland.png");
  width: 90%;
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  /*margin: auto 5px;*/
}

.unlockCards {
  display: inline-block;
  border-color: black;
  height: 80px;
  width: 20%;
  background-size: cover;
  margin: 10px 10px;
  background-image: url("./images/coneyIsland.png");
}

.summaryContainer {
  width: 30%;
  border: 3px solid black;
  margin: auto;
  float: right;
  text-align: center;
}

.summaryContainer h4 {
  display: inline-block;
  margin-left: 15%;
  margin-right: 15%;
}

#coneyIsland {
  background-image: url("./images/coneyIsland.png");
}
