body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif !important; }

.game-grid {
  padding-top: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  background: #fefefe;
  border: 4px solid #eee;
  display: inline-block;
  color: rgba(0, 0, 0, 0.870588);
  background-color: white;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-radius: 2px;
  z-index: 1; }
  .game-grid .col-half-offset {
    margin-left: 4.166666667%; }
  .game-grid .card {
    width: 100%;
    margin-bottom: 10px; }

.game-grid .card:hover, .summaryContainer img:hover, .carousel-img:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 10px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  cursor: pointer; }

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20% !important;
  float: left !important; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20% !important;
    float: left !important; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20% !important;
    float: left !important; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20% !important;
    float: left !important; } }

.card-cont .card-tooltip {
  visibility: hidden;
  margin-top: -20px;
  text-align: left; }

.card-cont:hover .card-tooltip {
  visibility: visible; }

.diceContainer {
  text-align: center;
  border: 1px solid black;
  width: 80%;
  padding: 10px;
  float: left;
  margin-right: 20px;
  margin-left: 20px; }

.carousel-container {
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  height: 15vh;
  float: left;
  vertical-align: middle;
  display: inline-block; }
  .carousel-container div {
    float: left;
    width: 15vh;
    margin-right: 15px; }
    .carousel-container div img {
      width: 100%; }

.center .slick-center h1 {
  color: white;
  opacity: 1;
  transform: scale(1.08); }

.center h1 {
  color: black;
  opacity: 0.8;
  transition: all 300ms ease; }

.center .slick-prev:before, .center .slick-next:before {
  color: #2962FF; }

div .content-container .slick-slide .slick-active .slick-center {
  background-color: white;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px; }

.slide-content {
  margin-top: 10px;
  display: block;
  text-align: center;
  background-image: url("./images/coney-island.png");
  width: 90%;
  height: 20vh;
  background-size: cover; }

.slick-prev {
  left: 0 !important;
  z-index: 10; }

.slick-next {
  right: 0 !important; }

.summaryContainer {
  width: 30%;
  padding: 10px;
  margin: auto;
  float: left;
  box-sizing: border-box; }
  .summaryContainer .card {
    padding: 0;
    margin: 0; }
  .summaryContainer img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px; }
  .summaryContainer h3 {
    margin: 10px;
    font-size: 15px; }
  .summaryContainer span {
    padding: 0 20px; }
  .summaryContainer .unlockableSelf {
    width: 100%;
    display: inline-block;
    padding-top: 20px; }

.unlockCards {
  display: inline-block;
  border-color: black;
  box-sizing: border-box;
  height: 140px;
  width: 20%;
  background-size: cover;
  padding-bottom: 20px; }
  .unlockCards .card-cont:hover .card-tooltip {
    visibility: visible; }

.locked {
  filter: grayscale(100%); }

#self-dashboard {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  z-index: 1; }

#opponent {
  display: inline-block;
  background: white; }

#avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto; }
  #avatar img {
    width: 100%; }

.card-opp {
  width: 50px;
  height: 50px;
  margin-right: 5px; }

.opp-name {
  font-size: 18px; }

.opp-money {
  font-weight: 600; }

#opp-summary, #opp-extension {
  padding: 10px;
  float: left; }

#opp-summary {
  text-align: center;
  color: rgba(0, 0, 0, 0.870588);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  z-index: 1; }

.row-top #opp-summary, #opp-extension {
  height: 100px;
  width: 500px; }

.row-top #avatar {
  float: left; }

.row-top .opp-details {
  float: left;
  margin-left: 40px;
  margin-right: 40px; }

.row-top #unlockables {
  float: left; }

#opp-extension {
  display: none; }

.opp-cards {
  float: left; }

.global-board {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.row-top {
  margin: 0 !important;
  height: 12vh;
  overflow: hidden; }

.game-page-central {
  margin: 0 !important;
  height: 68vh;
  overflow: hidden; }

.game-part-opponent {
  margin: 0 !important;
  height: 20vh;
  overflow: hidden; }

.game-page-central #opponent {
  margin-top: 10vh;
  margin-right: 20px;
  margin-left: 20px;
  height: 400px; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.modal-backdrop {
  background-color: black !important; }

#dice-modal {
  z-index: 500;
  position: fixed;
  top: 200px; }

.carousel-img, .slick-slide img {
  height: 100%; }

.lobby-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/new-york-background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .lobby-container h1 {
    text-align: center;
    color: white;
    margin: 10vh; }
  .lobby-container h2 {
    text-align: center; }
  .lobby-container .start-buttons {
    width: 20%;
    margin: 0 auto; }

.button-toolbar {
  width: 100%;
  margin: auto; }
  .button-toolbar .provider-login-btn {
    width: 49%;
    margin: 0 auto 10px;
    justify-content: center; }

.lobby-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/new-york-background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .lobby-container h1 {
    text-align: center;
    color: white;
    margin: 10vh;
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1); }

.whoami {
  margin: auto;
  width: 15%; }
  .whoami .center-buttons {
    margin-top: 10px;
    width: 100%; }

.lobby-title {
  width: 100%; }
  .lobby-title h1 {
    text-align: center;
    color: white;
    margin: 10vh;
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1); }

.highlight {
  background-color: #6DCEF8 !important; }

#end-turn-btn {
  margin-left: 8%; }
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    vertical-align: middle; }

    .lobby-container .start-buttons button {
      width: 100%; }
