.carousel-container {
  margin: 0 auto;
  padding: 30px;
  width: 70%;
  /*height: 200px; */
  background-color: white;
  float: left;
}

.center .slick-center h1 {
  color: white;
  opacity: 1;
  transform: scale(1.08);
}
.center h1{
  color: black;
  opacity: 0.8;
  transition: all 300ms ease;
}

.center .slick-prev:before, .center .slick-next:before {
  color: #2962FF;
}

.center .slick-slide {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  /*height: 90%;*/
}
/*.slide-track {
  background-color: white;
  padding: 5px;
  margin: auto;
}*/

.slide-content {
  background-color: #90CAF9;
  padding: 20px;
  margin: auto;
  display: block;
  text-align: center;
}
